server:
  port: 8082

spring:
  application:
    name: transaction-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/transactions_db

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/